
<div class="container" id="home-container">
    <div class="jumbotron text-center homefont">
        <h1 class="display-3">Lyrical!</h1>
        <p class="lead">This is a simple website where you can write and store your lyrics and share with others.</p>
        <hr class="my-4">
        <p>Share with band members and write full songs together online!</p>
        <%= link_to "Sign up!", signup_path, class:"btn btn-success btn-lg" %>
    </div>
</div>


